*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild

#Built application files
*.apk
*.ap_

.gradle/
build/
gradle.properties
local.properties
*.log

# Android Studio specific files
*.iml
*.ipr
*.iws