<?xml version="1.0" encoding="utf-8"?>
<!-- My Notie is a note taking app, write notes and save them to see them and remember later.
    Copyright (C) 2021  Ioannis Xenakis

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    Anything you want to contact me for, contact me with an e-mail, at: Xenakis.i.Contact@gmail.com
    I'll be happy to help you, or discuss anything with you! -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fanatic_coder.mynotepad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with:  http://www.example.com/mynotepad -->
                <data android:scheme="http"
                    android:host="www.example.com"
                    android:pathPrefix="/mynotepad"/>

                <!-- Accepts URIs that begin with:  example://mynotepad -->
                <data android:scheme="example"
                    android:host="mynotepad"/>

            </intent-filter>
        </activity>

        <!-- The MainNotesActivity with the Main Note List layout (activity_main_notes.xml) -->
        <activity android:name=".MainNotesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- The LAUNCHER category is when the app is launched, the first activity that is launched first is this. -->
                <category android:name="android.intent.category.LAUNCHER" />

                <!-- The BROWSABLE category is for being accesible from a web browser. Without this, clicking links at a web browser, wont direct the user to the app-->
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with:  http://www.example.com/mynotepad/main_notes_activity -->
                <data android:scheme="http"
                    android:host="www.example.com"
                    android:pathPrefix="/mynotepad/main_notes_activity" />

                <!-- Accepts URIs that begin with:   example://mynotepad/main_notes_activity -->
                <data android:scheme="example"
                    android:host="mynotepad"
                    android:pathPrefix="/main_notes_activity" />
            </intent-filter>
        </activity>
    </application>

</manifest>