<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code_that_up.john_xenakis.my_notie">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- The EditNoteActivity is responsible for editing new/existing note. -->
        <activity
            android:name="com.code_that_up.john_xenakis.my_notie.EditNoteActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <!-- The MainNotesActivity with the Main Note List layout (activity_my_notes.xml) -->
        <activity
            android:name="com.code_that_up.john_xenakis.my_notie.MyNotesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- The LAUNCHER category is when the app is launched, the first activity that is launched first is this. -->
                <category android:name="android.intent.category.LAUNCHER" />

                <!-- The BROWSABLE category is for being accesible from a web browser. Without this, clicking links at a web browser, wont direct the user to the app -->
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with:  http://www.example.com/mynotepad/main_notes_activity -->
                <data
                    android:host="www.example.com"
                    android:pathPrefix="/mynotepad/main_notes_activity"
                    android:scheme="http" />

                <!-- Accepts URIs that begin with:   example://my_notie/main_notes_activity -->
                <data
                    android:host="mynotepad"
                    android:pathPrefix="/main_notes_activity"
                    android:scheme="example" />
            </intent-filter>
        </activity>
    </application>

</manifest>